docker {
    enabled = true
}

maxReadLength = 75
minReadLength = 36

params{
        project_id = "RamDAQ_PE_human"
        pipeline_species = "human"

        run_ids = [
            ["run001"],
        ]

        pipeline_class =[
            ["unstranded"],
        ]
       
        fastq_filelist = 'samplelist.txt'

        adapter =[
            ["fastqmcf_adapter", "$HOME/annotations/human/hisat2_index/all_sequencing_WTA_adopters.fa"],
        ]
 
        fastqmcf_condition =[
            ["readLength_$maxReadLength_$minReadLength", "-L $maxReadLength -l $minReadLength -k 4.0 -q 30"],
        ]

        hisat2_condition =[
            ["disallow_softclipping", "--no-softclip -p 4"],
        ]

        hisat2_strandedness =[
            ["default", " "],
        ]

        hisat2_index =[
            ["GRCh38PRI", "$HOME/annotations/human/hisat2_index/GRCh38.primary_assembly.genome"],
        ]

        ref_chrsize = [
            ["$HOME/annotations/human/GRCh38.primary_assembly.genome.fa.fai"],
        ]

        ref_beds = [
            ["gencode.v32.primary_assembly", "$HOME/annotations/human/gencode.v32.primary_assembly.annotation.gtf.bed"],
        ]


        featurecounts_options = [
            ["allow_multimap_overlap_fraction", "-M -O --fraction -T 4 -p"],
        ]

        featurecounts_metafeatures = [
            ["transcript", "-g transcript_id"],
            ["gene", "-g gene_id"],
        ]

        featurecounts_gtfs = [
            ["gencode_mrna", "$HOME/annotations/human/gencode.v32.primary_assembly.annotation.gtf"],
            ["gencode_rrna", "$HOME/annotations/human/hisat2_index/Human_GRCh38_rmk_rRNA_RefSeq_RNA45S_all.gtf"],
            ["gencode_mt", "$HOME/annotations/human/gencode.v32.primary_assembly.annotation.mt.gtf"],
            ["gencode_histone", "$HOME/annotations/human/gencode.v32.primary_assembly.annotation.histone.gtf"],        
        ]


        // sailfish_index =[
        //     ["gencode.v30.transcript", "Homo_sapiens_genome/sailfish_index_gencode_v30_ERCC"],
        // ]

        // sailfish_condition =[
        //     ["default", "-p 4 -l IU"],
        // ]
        
        
        // hisat2_rrna_index =[
        //      ["G.T.R", "Homo_sapiens_genome/hisat2_index_GRCh38_G.T.R/hisat2_index_GRCh38_G.T.R"],
        // ]

        // hisat2_rrna_condition =[
        //     ["loose", "-k 10"]
        // ]

        // featurecounts_rrna_gtfs = [
        //     ["Genomic.rRNA", "Homo_sapiens_genome/RamDA_rrna_QC_annotation/Human_GRCh38_rmk_rRNA_RefSeq_RNA45S_all.gtf"],
        //     ["G.T.R", "Homo_sapiens_genome/RamDA_rrna_QC_annotation/190918_newHisat2index_create/GRCh38.primary_assembly_ERCC_SIRV_rRNA.gtf"],
        //     ["Genomic.tRNA", "Homo_sapiens_genome/RamDA_rrna_QC_annotation/tRNA.GtRNAdb_and_RepeatMasker.hg38.merged.gtf"],
        // ]

        // featurecounts_rrna_options = [
        //     ["multiFrac", "-O --fraction -M"]
        // ]
        
        // collect_rrnaQC_annot_ts = ""
        // collect_rrnaQC_annot_refseq = "Homo_sapiens_genome/RamDA_rrna_QC_annotation/Hsapiens_rRNA_5_12_16_18_28_45.txt"

}

