
process {
  executor='sge'
  queue='node07-10.q'
  clusterOptions = '-S /bin/bash -l nc=4'
}

docker {
    enabled = true
}

params{
        project_id = "190412_nextflow_ramdaQC_PE_unstranded"
        pipeline_species = "mouse"

        run_ids = [
	    ["180612_NS500723_0127_AHMTMWBGX5"],
            ["181107_NS500723_0139_AH53MKBGX9"]
	]

        pipeline_class =[
            ["unstranded"],
        ]

        fastq_filelist = '/data2/myoshimura/21_Nextflow_test/test_githubcode_releaseTask/190921_nextflow_ramdaQC_PE_samplelist.txt'

        adapter =[
            ["fastqmcf_adapter", "/data2/myoshimura/adapter_primer/all_sequencing_WTA_adopters.fa"],
        ]
 
        fastqmcf_condition =[
            ["nextseq_L75", "-L 75 -l 36 -k 4.0 -q 30"],
        ]

        hisat2_condition =[
            ["disallow_softclipping", "--no-softclip -p 4"],
        ]

        hisat2_strandedness =[
            ["default", " "],
        ]

        hisat2_index =[
            ["GRCm38_ERCC", "/data2/myoshimura/Mus_musculus_genome/hisat2_index_GRCm38_primary_ERCC/hisat2_index_GRCm38_primary_ERCC"],
        ]

        ref_chrsize = [
            ["/data2/myoshimura/Mus_musculus_genome/mm10.chrom.sizes"],
        ]

        ref_beds = [
            ["gencode_vM18_primary_assembly", "/data2/myoshimura/Mus_musculus_genome/gencode.vM18.primary_assembly.annotation.bed"],
        ]

        sailfish_index =[
            ["gencode_vM18_ERCC", "/data2/myoshimura/Mus_musculus_genome/sailfish_index_gencode_vM18_ERCC"],
        ]

        sailfish_condition =[
            ["default", "-p 4 -l IU"],
        ]

	featurecounts_options = [
	    ["allow_multimap_overlap_fraction", "-M -O --fraction -T 4 -p"],
	]

        featurecounts_metafeatures = [
            ["transcript", "-g transcript_id"],
            ["gene", "-g gene_id"],
        ]

        featurecounts_gtfs = [
            ["gencode_mrna", "/data2/myoshimura/Mus_musculus_genome/gencode.vM18.primary_assembly.annotation.ERCC.gtf"],
            ["gencode_rrna", "/data2/myoshimura/Mus_musculus_genome/mm10_rmsk_rRNA4.5S_Refseq_45S4.5Smerge_all.gtf"],
            ["gencode_mt", "/data2/myoshimura/Mus_musculus_genome/gencode.vM18.primary_assembly.annotation.mt.gtf"],
            ["gencode_histone", "/data2/myoshimura/Mus_musculus_genome/gencode.vM18.primary_assembly.annotation.histone.gtf"],
        ]

        hisat2_rrna_index =[
             ["G.T.R", "/data2/myoshimura/Mus_musculus_genome/hisat2_index_G.T.R/GRCm38.primary_assembly__ERCC__SIRV_Set1_E2_mix__GENCODEvM15__rRNA"],
        ]

        hisat2_rrna_condition =[
            ["loose", "-k 10"]
        ]


        featurecounts_rrna_gtfs = [
            ["Genomic.rRNA", "/data2/myoshimura/Mus_musculus_genome/RamDA_rrna_QC_annotation/mm10_rmsk_rRNA4.5S_Refseq_45S4.5Smerge_all.sorted.merge.gtf"],
            ["G.T.R", "/data2/myoshimura/Mus_musculus_genome/RamDA_rrna_QC_annotation/GRCm38.primary_assembly__ERCC__SIRV_Set1_E2_mix__GENCODEvM15__rRNA.gtf"],
            ["Genomic.tRNA", "/data2/myoshimura/Mus_musculus_genome/RamDA_rrna_QC_annotation/tRNA.GtRNAdb_and_RepeatMasker.mm10.merged.gtf"],
        ]

        featurecounts_rrna_options = [
            ["multiFrac", "-O --fraction -M"]
        ]

        collect_rrnaQC_annot_ts = "/data2/myoshimura/Mus_musculus_genome/RamDA_rrna_QC_annotation/gencode.vM15.primary_assembly.annotation.ERCC.SIRV.gene_type.transcript_id.tsv"

        collect_rrnaQC_annot_refseq = "/data2/myoshimura/Mus_musculus_genome/RamDA_rrna_QC_annotation/Mouse_rRNA_12_mito_18_28_5_5.8_45.txt"

}

