process {
  executor='sge'
  queue='node03-06.q'
  clusterOptions = '-S /bin/bash -l nc=4'
}

docker {
    enabled = true
    runOptions = '-v /data/bso/:/data/bso/:ro'
}

params{
        bso_dir = "/data/bso"
        project_id = "190627_nextflow_ramdaQC_human_PE_stranded"

        run_ids = [
            ["150518_NS500723_0004_AH5K2HBGXX"],
        ]
}
