docker {
    enabled = true
}

maxReadLength = 75
minReadLength = 36

params{
        project_id = "RamDAQ_SE_mouse"
        pipeline_species = "mouse"

        run_ids = [
            ["run001"]
        ]

        pipeline_class =[
            ["unstranded"],
        ]

        adapter =[
            ["fastqmcf_adapter", "$HOME/annotations/mouse/all_sequencing_WTA_adopters.fa"],
        ]
 
        fastqmcf_condition =[
            ["readLength_${maxReadLength}_${minReadLength}", "-L $maxReadLength -l $minReadLength -k 4.0 -q 30"],
        ]

        hisat2_condition =[
            ["disallow_softclipping", "--no-softclip -p 4"],
        ]
        
        hisat2_strandedness =[
            ["default", " "],
        ]

        hisat2_index =[
            ["GRCm38", "$HOME/annotations/mouse/hisat2_index/GRCm38.primary_assembly.genome"],
        ]

        ref_chrsize = [
            ["$HOME/annotations/mouse/GRCm38.primary_assembly.genome.fa.fai"],
        ]

        ref_beds = [
            ["gencode_vM23_primary_assembly", "$HOME/annotations/mouse/gencode.vM23.primary_assembly.annotation.gtf.bed"],
        ]


        featurecounts_metafeatures = [
            ["transcript", "-g transcript_id"],
            ["gene", "-g gene_id"],
        ]

        featurecounts_gtfs = [
            ["gencode_mrna", "$HOME/annotations/mouse/gencode.vM23.primary_assembly.annotation.gtf"],
            ["gencode_rrna", "$HOME/annotations/mouse/mm10_rmsk_rRNA4.5S_Refseq_45S4.5Smerge_all.gtf"],
            ["gencode_mt", "$HOME/annotations/mouse/gencode.vM23.primary_assembly.annotation.mt.gtf"],
            ["gencode_histone", "$HOME/annotations/mouse/gencode.vM23.primary_assembly.annotation.histone.gtf"],        
        ]


        // sailfish_index =[
        //     ["gencode_vM18_ERCC", "Mus_musculus_genome/sailfish_index_gencode_vM18_ERCC"],
        // ]

        // sailfish_condition =[
        //     ["default", "-p 4 -l U"],
        // ]


        // featurecounts_options = [
        //     ["allow_multimap_overlap_fraction", "-M -O --fraction -T 4"],
        // ]

        // hisat2_rrna_index =[
        //      ["G.T.R", "Mus_musculus_genome/hisat2_index_G.T.R/GRCm38.primary_assembly__ERCC__SIRV_Set1_E2_mix__GENCODEvM15__rRNA"],
        // ]

        // hisat2_rrna_condition =[
        //     ["loose", "-k 10"]
        // ]

        // featurecounts_rrna_gtfs = [
        //     ["Genomic.rRNA", "Mus_musculus_genome/RamDA_rrna_QC_annotation/mm10_rmsk_rRNA4.5S_Refseq_45S4.5Smerge_all.sorted.merge.gtf"],
        //     ["G.T.R", "Mus_musculus_genome/RamDA_rrna_QC_annotation/GRCm38.primary_assembly__ERCC__SIRV_Set1_E2_mix__GENCODEvM15__rRNA.gtf"],
        //     ["Genomic.tRNA", "Mus_musculus_genome/RamDA_rrna_QC_annotation/tRNA.GtRNAdb_and_RepeatMasker.mm10.merged.gtf"],
        // ]

        // featurecounts_rrna_options = [
        //     ["multiFrac", "-O --fraction -M"]
        // ]
        
        // collect_rrnaQC_annot_ts = "Mus_musculus_genome/RamDA_rrna_QC_annotation/gencode.vM15.primary_assembly.annotation.ERCC.SIRV.gene_type.transcript_id.tsv"

        // collect_rrnaQC_annot_refseq = "Mus_musculus_genome/RamDA_rrna_QC_annotation/Mouse_rRNA_12_mito_18_28_5_5.8_45.txt"
}

