process {
  executor='sge'
  queue='node03-06.q'
  clusterOptions = '-S /bin/bash -l nc=4'
}

docker {
    enabled = true
    runOptions = '-v /data/bso/:/data/bso/:ro'
}

params{
        bso_dir = "/data/bso"
        project_id = "190624_nextflow_ramdaQC_SE_issue29_human_stranded"

        run_ids = [
            ["170525_NS500723_0079_AHFL53BGX2"],
            ["170526_NS500723_0080_AHFH7JBGX2"]
        ]
}
