
process {
  executor='sge'
  queue='node07-10.q'
  clusterOptions = '-S /bin/bash -l nc=4'
}

docker {
    enabled = true
}

params{
        project_id = "190624_nextflow_ramdaQC_SE_issue29_human_unstranded"
        pipeline_species = "human"

        run_ids = [
            ["170525_NS500723_0079_AHFL53BGX2"],
            ["170526_NS500723_0080_AHFH7JBGX2"]
	]

        pipeline_class =[
            ["unstranded"],
        ]

        adapter =[
            ["fastqmcf_adapter", "/data2/myoshimura/adapter_primer/all_sequencing_WTA_adopters.fa"],
        ]
 
        fastqmcf_condition =[
            ["nextseq_L75", "-L 75 -l 36 -k 4.0 -q 30"],
        ]

        hisat2_condition =[
            ["disallow_softclipping", "--no-softclip -p 4"],
        ]
        
        hisat2_strandedness =[
            ["default", " "],
        ]

        hisat2_index =[
            ["GRCh38PRI_ERCC", "/data2/myoshimura/Homo_sapiens_genome/hisat2_index_GRCh38PRI_ERCC/hisat2_index_GRCh38PRI_ERCC"],
        ]

        ref_chrsize = [
            ["/data2/myoshimura/Homo_sapiens_genome/GRCh38_sizes.genome"],
        ]

        ref_beds = [
            ["gencode.v30.primary_assembly", "/data2/myoshimura/Homo_sapiens_genome/gencode.v30.primary_assembly.annotation.bed"],
        ]

        sailfish_index =[
            ["gencode.v30.transcript", "/data2/myoshimura/Homo_sapiens_genome/sailfish_index_gencode_v30_ERCC"],   
        ]

        sailfish_condition =[
            ["default", "-p 4 -l U"],
        ]

	featurecounts_options = [
	    ["allow_multimap_overlap_fraction", "-M -O --fraction -T 4"],
	]

        featurecounts_metafeatures = [
            ["transcript", "-g transcript_id"],
            ["gene", "-g gene_id"],
        ]

        featurecounts_gtfs = [
            ["gencode_mrna", "/data2/myoshimura/Homo_sapiens_genome/gencode.v30.primary_assembly.annotation.ERCC.gtf"],
            ["gencode_rrna", "/data2/myoshimura/Homo_sapiens_genome/Human_GRCh38_rmk_rRNA_RefSeq_RNA45S_all.gtf"],
            ["gencode_mt", "/data2/myoshimura/Homo_sapiens_genome/gencode.v30.primary_assembly.annotation.mt.gtf"],
            ["gencode_histone", "/data2/myoshimura/Homo_sapiens_genome/gencode.v30.primary_assembly.annotation.histone.gtf"],        
        ]

        hisat2_rrna_index =[
             ["G.T.R", "/data2/myoshimura/Homo_sapiens_genome/hisat2_index_GRCh38_G.T.R/hisat2_index_GRCh38_G.T.R"],
        ]

        hisat2_rrna_condition =[
            ["loose", "-k 10"]
        ]


        featurecounts_rrna_gtfs = [
            ["Genomic.rRNA", "/data2/myoshimura/Homo_sapiens_genome/RamDA_rrna_QC_annotation/Human_GRCh38_rmk_rRNA_RefSeq_RNA45S_all.gtf"],
            ["G.T.R", "/data2/myoshimura/Homo_sapiens_genome/RamDA_rrna_QC_annotation/190918_newHisat2index_create/GRCh38.primary_assembly_ERCC_SIRV_rRNA.gtf"],
            ["Genomic.tRNA", "/data2/myoshimura/Homo_sapiens_genome/RamDA_rrna_QC_annotation/tRNA.GtRNAdb_and_RepeatMasker.hg38.merged.gtf"],
        ]

        featurecounts_rrna_options = [
            ["multiFrac", "-O --fraction -M"]
        ]

        collect_rrnaQC_annot_ts = ""        
        collect_rrnaQC_annot_refseq = "/data2/myoshimura/Homo_sapiens_genome/RamDA_rrna_QC_annotation/Hsapiens_rRNA_5_12_16_18_28_45.txt"

}

