docker {
    enabled = true
}

// `bso_dir`, `project_id`, and `run_id` should be set so that:
// - Input directory: "${bso_dir}/${run_id}/Data/Intensities/BaseCalls"
// - Output directory: "output_${proj_id}/${run_id}/01_fastq_files"

params{
        bso_dir = "path_to_BCL_file_direcotry"
        project_id = "project_id"

        run_ids = [
            ["run001"]
        ]
}
