params{

    pipeline_class =[
        ["stranded"],
    ]

    hisat2_strandedness =[
        ["stranded", "--rna-strandness R"],
    ]

    sailfish_condition =[
        ["stranded", "-p 4 -l SR"],
    ]
    
    featurecounts_options =[
        ["allow_multimap_overlap_fraction", "-M -O --fraction -T 4 -s 2"],
        ["allow_overlap_fraction", "-O --fraction -T 4 -s 2"],
    ]

}

