params{

    pipeline_class =[
        ["unstranded"],
    ]
    
    hisat2_strandedness =[
        ["default", " "],
    ]

    sailfish_condition =[
        ["default", "-p 4 -l IU"],
    ]

    featurecounts_options = [
        ["allow_multimap_overlap_fraction", "-M -O --fraction -T 4 -p"],
    ]

}


