process {
    executor='sge'
    queue='node07-10.q'
    clusterOptions = '-S /bin/bash -l nc=4'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

maxReadLength = 75
minReadLength = 36

params{

    project_id = "RamDAQ_QC_pipeline"

    run_ids = [
        ["run001"]
    ]

    adapter =[
        ["fastqmcf_adapter", "$HOME/annotations/all_sequencing_WTA_adopters.fa"],
    ]

    fastqmcf_condition =[
        ["trimming_${maxReadLength}_${minReadLength}", "-L ${maxReadLength} -l ${minReadLength} -k 4.0 -q 30"],
    ]

    hisat2_condition =[
        ["disallow_softclipping", "--no-softclip -p 4"],
    ]

    featurecounts_metafeatures = [
        ["transcript", "-g transcript_id"],
        ["gene", "-g gene_id"],
    ]

    hisat2_rrna_condition =[
        ["loose", "-k 10 -p 4"]
    ]

    featurecounts_rrna_options = [
        ["multiFrac", "-O --fraction -M"]
    ]

}



